# IS362 - Week 7 Assignment 5

### Choose six recent popular movies. Ask at least five people that you know (friends, family, classmates, imaginary friends) to rate each of these movies that they have seen on a scale of 1 to 5. There should be at least one movie that not everyone has seen!

### Take the results (observations) and store them somewhere (like a SQL database, or a .CSV file). Load the information into a pandas dataframe. Your solution should include Python and pandas code that accomplishes the following:

### 1. Load the ratings by user information that you collected into a pandas dataframe.

In [1]:
# Import pandas

import pandas as pan
from pandas import DataFrame, Series

# Read the information from .csv file into pandas. Set column containing reviewer name as the index.

ratings = pan.read_csv('MovieRatings.csv', index_col=0)

In [2]:
# Display the movie ratings in the dataframe

ratings.head()

,Everything Everywhere All At Once,All Quiet on the Western Front,Creed III,Avatar: The Way of Water,Puss in Boots: The Last Wish,Ant-Man and the Wasp: Quantumania
Reviewer,,,,,,
Logan,5,1.0,NaN,NaN,5.0,NaN
Trevor,4,5.0,3.0,2.0,NaN,3.0
Jackie,5,NaN,4.0,NaN,5.0,2.0
Nova,4,4.0,NaN,1.0,3.0,NaN
Jennifer,5,NaN,4.0,3.0,NaN,2.0

### 2. Show the average ratings for each user and each movie.

In [3]:
# Create a copy of the movie ratings table to calculate user and movie ratings averages

ratings_avg = ratings.copy()

ratings_avg

,Everything Everywhere All At Once,All Quiet on the Western Front,Creed III,Avatar: The Way of Water,Puss in Boots: The Last Wish,Ant-Man and the Wasp: Quantumania
Reviewer,,,,,,
Logan,5,1.0,NaN,NaN,5.0,NaN
Trevor,4,5.0,3.0,2.0,NaN,3.0
Jackie,5,NaN,4.0,NaN,5.0,2.0
Nova,4,4.0,NaN,1.0,3.0,NaN
Jennifer,5,NaN,4.0,3.0,NaN,2.0

In [4]:
# Calculate the average rating for each movie

ratings_avg.loc['Movie Average'] = ratings_avg.mean(numeric_only=True).round(2)

# Calculate the average rating given by each reviewer

ratings_avg['Reviewer Average'] = ratings_avg.mean(numeric_only=True, axis=1).round(2)

ratings_avg

,Everything Everywhere All At Once,All Quiet on the Western Front,Creed III,Avatar: The Way of Water,Puss in Boots: The Last Wish,Ant-Man and the Wasp: Quantumania,Reviewer Average
Reviewer,,,,,,,
Logan,5.0,1.00,NaN,NaN,5.00,NaN,3.67
Trevor,4.0,5.00,3.00,2.0,NaN,3.00,3.40
Jackie,5.0,NaN,4.00,NaN,5.00,2.00,4.00
Nova,4.0,4.00,NaN,1.0,3.00,NaN,3.00
Jennifer,5.0,NaN,4.00,3.0,NaN,2.00,3.50
Movie Average,4.6,3.33,3.67,2.0,4.33,2.33,3.38

### 3. Create a new pandas dataframe, with normalized ratings for each user. Again, show the average ratings for each user and each movie.

In [5]:
# Normalize the ratings for each user (Formula from https://bi-analytics.org/forums/topic/9-standardization-vs-normalization/). 
# Transpose dataframe to normalize ratings by user instead of by movie.

ratings_norm = ((ratings - ratings.min(numeric_only=True)) / (ratings.max(numeric_only=True) - ratings.min(numeric_only=True))).T

ratings_norm

Reviewer                           Logan  Trevor  Jackie  Nova  Jennifer
Everything Everywhere All At Once    1.0     0.0     1.0  0.00       1.0
All Quiet on the Western Front       0.0     1.0     NaN  0.75       NaN
Creed III                            NaN     0.0     1.0   NaN       1.0
Avatar: The Way of Water             NaN     0.5     NaN  0.00       1.0
Puss in Boots: The Last Wish         1.0     NaN     1.0  0.00       NaN
Ant-Man and the Wasp: Quantumania    NaN     1.0     0.0   NaN       0.0

In [6]:
# Create a copy of the normalized ratings table to calculate normalized user and movie ratings averages

ratings_norm_avg = ratings_norm.copy()

# Calculate the average normalized rating for each movie

ratings_norm_avg.loc['Normalized Reviewer Average'] = ratings_norm.mean(numeric_only=True).round(2)

# Calculate the average normalized rating for each user

ratings_norm_avg['Normalized Movie Average'] = ratings_norm.mean(numeric_only=True, axis=1).round(2)
ratings_norm_avg

Reviewer,Logan,Trevor,Jackie,Nova,Jennifer,Normalized Movie Average
Everything Everywhere All At Once,1.00,0.0,1.00,0.00,1.00,0.60
All Quiet on the Western Front,0.00,1.0,NaN,0.75,NaN,0.58
Creed III,NaN,0.0,1.00,NaN,1.00,0.67
Avatar: The Way of Water,NaN,0.5,NaN,0.00,1.00,0.50
Puss in Boots: The Last Wish,1.00,NaN,1.00,0.00,NaN,0.67
Ant-Man and the Wasp: Quantumania,NaN,1.0,0.00,NaN,0.00,0.33
Normalized Reviewer Average,0.67,0.5,0.75,0.19,0.75,NaN

## Conclusion

### 4. Provide a text-based conclusion: Explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.

Normalization refers to the technique of scaling data so that they will fall in the range of [0,1]. 

The advantage of normalized ratings is that it makes it easier to compare the reviewers' movies ratings by ensuring that all the data are on the same scale. The normalized ratings for each reviewer show how the reviewer rates each movie relative to how others reviewers rated the same movie.

The disadvantage of normalized ratings is that outliers will result in the ratings being scaled to a very small interval. This makes it difficult to see how the movies actually compared to each other.

## Extra Credit

### 5. Create another new pandas dataframe, with standardized ratings for each user. Once again, show the average ratings for each user and each movie.

In [7]:
# Standardize the ratings for each user (Formula from https://bi-analytics.org/forums/topic/9-standardization-vs-normalization/)
# Transpose dataframe to standardize ratings by user instead of by movie

ratings_standardized = ((ratings - ratings.mean()) / ratings.std()).T

ratings_standardized

Reviewer,Logan,Trevor,Jackie,Nova,Jennifer
Everything Everywhere All At Once,0.730297,-1.095445,0.730297,-1.095445,0.730297
All Quiet on the Western Front,-1.120897,0.800641,NaN,0.320256,NaN
Creed III,NaN,-1.154701,0.577350,NaN,0.577350
Avatar: The Way of Water,NaN,0.000000,NaN,-1.000000,1.000000
Puss in Boots: The Last Wish,0.577350,NaN,0.577350,-1.154701,NaN
Ant-Man and the Wasp: Quantumania,NaN,1.154701,-0.577350,NaN,-0.577350

In [8]:
# Create a copy of the standardized ratings table to calculate normalized user and movie ratings averages

ratings_standardized_avg = ratings_standardized.copy()

# Calculate the average standardized rating for each movie

ratings_standardized_avg.loc['Standardized Reviewer Average'] = ratings_standardized.mean(numeric_only=True).round(2)

# Calculate the average standardized rating for each user

ratings_standardized_avg['Standardized Movie Average'] = ratings_standardized.mean(numeric_only=True, axis=1)

ratings_standardized_avg

Reviewer,Logan,Trevor,Jackie,Nova,Jennifer,Standardized Movie Average
Everything Everywhere All At Once,0.730297,-1.095445,0.730297,-1.095445,0.730297,5.995204e-16
All Quiet on the Western Front,-1.120897,0.800641,NaN,0.320256,NaN,-9.251859e-17
Creed III,NaN,-1.154701,0.577350,NaN,0.577350,2.960595e-16
Avatar: The Way of Water,NaN,0.000000,NaN,-1.000000,1.000000,0.000000e+00
Puss in Boots: The Last Wish,0.577350,NaN,0.577350,-1.154701,NaN,2.960595e-16
Ant-Man and the Wasp: Quantumania,NaN,1.154701,-0.577350,NaN,-0.577350,-2.960595e-16
Standardized Reviewer Average,0.060000,-0.060000,0.330000,-0.730000,0.430000,NaN